fastapi==0.115.0
uvicorn[standard]==0.30.6
gunicorn==21.2.0
pydantic==2.9.2
numpy==1.26.4
# tensorflow par tensorflow-cpu pour économiser ~500 Mo
tensorflow-cpu==2.15.0
keras==2.15.0
# Indispensable pour tokenizer.pickle
pickle5; python_version < '3.11'