name: CI/CD Pipeline - Heroku Air Paradis

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  # ÉTAPE 1 : TESTS UNITAIRES (MLOps : Qualité et reproductibilité)
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest httpx

      - name: Run Unit Tests
        run: |
          # PYTHONPATH permet à pytest de trouver le module 'app'
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest tests/test_api.py

  # ÉTAPE 2 : DÉPLOIEMENT (MLOps : Livraison continue)
  deploy:
    needs: test # Le déploiement ne se lance que si les tests passent
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.14
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "tweet-api-d55526412fb1"
          heroku_email: "nathan.gracia.863@gmail.com"
          # Utilise l'app existante sans essayer de la recréer
          justdeploy: true