name: CI/CD Pipeline - Heroku Air Paradis

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # Match avec ton environnement local

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest httpx

      - name: Run Unit Tests
        run: |
          # On définit le chemin pour que pytest trouve le dossier 'app'
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest tests/test_api.py

  deploy:
    needs: test # Les tests DOIVENT passer pour que le déploiement commence
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.14
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "tweet-api"
          heroku_email: "nathan.gracia.863@gmail.com"
          dontautocreate: true
