name: CI/CD Pipeline - Heroku Air Paradis

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          # FIX 1 : On passe en 3.11 pour matcher ton local
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # On installe tout d'un coup pour que pip gère les dépendances proprement
          pip install -r requirements.txt
          pip install pytest httpx

      - name: Run Unit Tests
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest tests/test_api.py

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.14
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "tweet-api-d55526412fb1"
          heroku_email: "nathan.gracia.863@gmail.com"
          justdeploy: true